@model BMSBT.Models.Configuration

@{
    ViewData["Title"] = "Edit Configuration";
    Layout = "~/Views/Shared/_LayoutSetup.cshtml";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h4>Edit Configuration</h4>
        </div>
        <div class="card-body">
            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Uid" />
                
                <div class="form-group">
                    <label asp-for="ConfigId" class="control-label"></label>
                    <input asp-for="ConfigId" class="form-control" />
                    <span asp-validation-for="ConfigId" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="ConfigKey" class="control-label"></label>
                    <input asp-for="ConfigKey" class="form-control" maxlength="50" />
                    <span asp-validation-for="ConfigKey" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="ConfigValue" class="control-label"></label>
                    <input asp-for="ConfigValue" class="form-control" maxlength="100" />
                    <span asp-validation-for="ConfigValue" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="AllConfigs" class="btn btn-secondary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
