<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Complaint Management System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        /* Make the body and html take up the full height of the viewport */
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        /* Ensure the main content takes up available space */
        .container {
            flex: 1;
        }

        /* Footer styles */
        .custom-footer {
            background-color: #142141; /* Background color */
            color: white; /* Text color */
            padding: 20px 0; /* Add padding */
            text-align: center; /* Center align text */
        }

        .login-header {
            background-color: #142141; /* Background color */
            color: white; /* Text color */
            height: 60px; /* Adjust the height */
            padding: 0 20px; /* Add horizontal padding */
        }

        .header-title {
            font-size: 1.5rem; /* Adjust font size */
            font-weight: bold; /* Make text bold */
            margin: 0; /* Remove margin to align vertically */
            text-align: left; /* Ensure text aligns to the left */
        }

        .header-logo {
            height: 60px; /* Set logo height */
            width: auto; /* Maintain aspect ratio */
        }

    </style>
</head>
<body>

    <header class="login-header">
        <nav class="navbar mb-3">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <span class="header-title">Billing Management System - Bahria Town</span>
                <img src="/images/logo.png" alt="Logo" class="header-logo" />
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted custom-footer">
        <div class="container">
            All Rights Reserved (Bahria Town PVT Limited) - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
